################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pixelator/.vs/Pixelator/v16
bin/
obj/
/packages/